### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
# Calculate total number of players
total_players = len(purchase_data_df["SN"].unique())

#Input total number of players into a data frame
pd.DataFrame([{"Total Players":total_players}])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items
unique_items = len(purchase_data_df["Item ID"].unique())

# Calculate average price
average_items_price = round(purchase_data_df["Price"].mean(),2)

# Calculate number of purchases
number_of_purchases = len(purchase_data_df["Purchase ID"])

#Calculate total revenue
total_revenue = purchase_data_df["Price"].sum()

#Create a summary data frame to hold the results
summary_purchase_data_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [f"${average_items_price}"],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue": [f"${total_revenue}"]
})

summary_purchase_data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Calculate total number of players
total_players = len(purchase_data_df["SN"].unique())

# Find count of male players
male_users = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
male_only_user_count = len(male_users["SN"].unique())

#Find count of female players
female_users = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
female_only_user_count = len(female_users["SN"].unique())

#Find other players
other_users = purchase_data_df.loc[(purchase_data_df["Gender"] != "Female") & (purchase_data_df["Gender"] != "Male")]
other_only_user_count = len(other_users["SN"].unique())

#Percentage of players by gender
percentage_male = f"{round(male_only_user_count/total_players*100,2)}%"
percentage_female = f"{round(female_only_user_count/total_players*100,2)}%"
percentage_other = f"{round(other_only_user_count/total_players*100,2)}%"

# Create DataFrame
player_counts = [male_only_user_count, female_only_user_count, other_only_user_count]
player_pcts = [percentage_male, percentage_female, percentage_other]
genders = ["Male", "Female", "Other / Non-Disclosed"]

pd.DataFrame({
    "Total Count": player_counts,
    "Percentage of Players": player_pcts
}, 
index=genders)

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate purchase count by gender
gender_count = purchase_data_df["Gender"].value_counts()

# Using GroupBy in order to separate the data into fields according to "state" values
grouped_gender = purchase_data_df.groupby(['Gender'])

# Count the total of screen names "SN" by gender
total_count_gender_sn = grouped_gender.nunique()["SN"]

#Finding average purchase price by gender
gender_average_price = grouped_gender['Price'].mean()

#Finding total purchase value by gender
gender_total_price = grouped_gender['Price'].sum()

#Finding average total purchase per person
gender_average_price_person = gender_total_price/total_count_gender_sn

#Create Data Frame
grouped_gender_df = pd.DataFrame({
    "Purchase Count": gender_count,
    "Average Purchase Price": gender_average_price,
    "Total Purchase Value": gender_total_price,
    "Average Total Purchase Per Person": gender_average_price_person
}, 
index=genders)

grouped_gender_df.style.format({"Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value": '${:,.2f}',
                               "Average Total Purchase Per Person":'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create Bins that organize the ages as follows: <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+   
age_bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 999]
bin_titles = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels = bin_titles)

#Group by age buckets
purchase_by_age_df = purchase_data_df.groupby(['Age Group'])

# Count the total of screen names "SN" by age group and find sum of all
total_count_age_sn = purchase_by_age_df.nunique()["SN"]

total_players = total_count_age_sn.sum()

percentage_of_age = total_count_age_sn/total_players*100

age_demographics_df = pd.DataFrame({
    "Total Count": total_count_age_sn,
    "Percentage of Players": percentage_of_age
})

age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create Bins that organize the ages as follows: <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+   
age_bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 999]
bin_titles = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels = bin_titles)

#Group by age buckets
purchase_by_age_group_df = purchase_data_df.groupby(['Age Group'])

# Count the total of screen names "SN" by age group
total_count_age_group_sn = purchase_by_age_group_df.nunique()["SN"]

# Purchase Count: Finding count by age group
age_group_count = purchase_by_age_group_df['Age Group'].count()

# Average Purchase Price by age group
age_group_average_purchase_price = purchase_by_age_group_df['Price'].mean()

# Total Purchase Value
age_group_total_purchase_value = purchase_by_age_group_df['Price'].sum()

#Avg Total Purchase per Person
average_total_purchase_pp = age_group_total_purchase_value/total_count_age_group_sn

#Create summary dataframe
age_analysis_purchase_summary_df = pd.DataFrame({
    "Purchase Count": age_group_count,
    "Average Purchase Price": age_group_average_purchase_price,
    "Total Purchase Value": age_group_total_purchase_value,
    "Average Total Purchase Per Person": average_total_purchase_pp
})

age_analysis_purchase_summary_df.style.format({"Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value": '${:,.2f}',
                               "Average Total Purchase Per Person":'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Group by SN
purchase_by_sn_df = purchase_data_df.groupby(['SN'])

# Find Top Spenders Purchase Count
sn_purchase_count = purchase_by_sn_df['Purchase ID'].count()

# Find Top Spenders Average Purchase Price
sn_avg_purchase_price = purchase_by_sn_df["Price"].mean()

#Find Top Spenders Total Purchase Value
sn_total_purchase_value = purchase_by_sn_df["Price"].sum()

#Create Summary data frame
top_spenders_df = pd.DataFrame({
    "Purchase Count": sn_purchase_count,
    "Average Purchase Price": sn_avg_purchase_price,
    "Total Purchase Value": sn_total_purchase_value
})

# Sort data frame
sorted_top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head(5)

sorted_top_spenders_df.style.format({"Average Purchase Price":"${:,.2f}",
                         "Total Purchase Value": '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Retrieve the Item ID, Item Name and Item Price columns into a data frame
most_popular_items_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID AND Item Name
popular_items_groupby = most_popular_items_df.groupby(['Item ID', 'Item Name'])

# Purchase Count
popular_items_purchase_count = popular_items_groupby['Price'].count()

# Average Item Price
popular_items_avg_price = popular_items_groupby['Price'].mean()

# Total Purchase Value
popular_items_total_value = popular_items_groupby['Price'].sum()

#Create a summary data frame
#Create Summary data frame
popular_items_df = pd.DataFrame({
    "Purchase Count": popular_items_purchase_count,
    "Item Price": popular_items_avg_price,
    "Total Purchase Value": popular_items_total_value
})

# Sort data frame
sorted_popular_items_df = popular_items_df.sort_values(["Purchase Count"], ascending=False)

sorted_popular_items_df.head().style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value": '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#Sort by total purchase value in descending order
sorted_popular_items_df_2 = popular_items_df.sort_values(["Total Purchase Value"], ascending=False)

#Update formatting
sorted_popular_items_df_2.head().style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value": '${:,.2f}'})